
 <h1>olá meu querido amigo</h1>
<p>o seu nome é {{user.name}}</p>
<p>o seu sobre NOME é {{user.surname}}</p>
<p>A sua idade é {{user.age}} Anos</p>
<p>você tem a formação de {{ensino.formacao}}</p>
<p>concluiu no més de {{ensino.mes}}</p>
<p>no ano de {{ensino.ano}}</p>